body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

/* HEADER */
header {
    text-align: center;
    padding: 20px;
    background: #2b7a78;
    color: white;
}

header h1 {
    margin: 0;
    font-size: 32px;
}

/* NAVBAR */
.navbar {
    background: #17252a;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.navbar li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* BANNER */
.banner {
    display: flex;
    overflow-x: auto;
}

.banner img {
    width: 33.33%;
    height: 260px;
    object-fit: cover;
}

/* PAKET */
.paket {
    padding: 20px;
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 15px;
}

.card {
    width: 280px;
    background: white;
    padding-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.2);
}

.card img {
    width: 100%;
    height: 180px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}

.card h3 {
    margin: 10px 0;
}

.harga {
    font-weight: bold;
    color: #2b7a78;
}

/* VIDEO */
.video {
    text-align: center;
    padding: 20px;
}

.video iframe {
    max-width: 100%;
    border-radius: 10px;
}

/* FOOTER */
footer {
    background: #17252a;
    color: white;
    padding: 15px;
    text-align: center;
}
